<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Search Page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        .linktodash{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px; /* 調整箭頭與文字之間的間距 */
            text-align: center;
        }

        a{
            color: #ff6600;
        }

    </style>
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" id="index">
    </div>

    <form action="/search" method="post">
        <div class="search-container">
            <input type="search" name="query" class="search-box">
            <div class="buttons">
                <button type="submit" class="button">Search</button>
            </div>
        </div>
        <p class="linktodash"><a href="">還不知道要去哪玩？看看大家的選擇</a></p>
    </form>


</body>

</html>
