<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅遊包詳細行程</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-whole">
            <div class="header-left">
                <h1>日本 <span id="search-days">{{ itinerary|length }}日遊</span></h1>
                <div class="tags">
                    <span class="tag"># 經濟型住宿</span>
                    <span class="tag"># 當地小吃</span>
                </div>
            </div>
            <div class="logo navbar">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
            </div>
        </div>
    </header>
    <main class="content">
        {% for item in itinerary %}
        <section class="day">
            <h2>Day {{ item.day }}：</h2>
            <div class="day-details">
                <div class="column">
                    <div class="column-title">行程</div>
                    {% for place in item.places.split(',') if place %}
                    <div class="detail">{{ place }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <div class="column-title">美食</div>
                    {% for food in item.food.split(',') if food %}
                    <div class="detail">{{ food }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <div class="column-title">住宿</div>
                    {% if item.stay and item.stay.strip() %}
                    <div class="detail">{{ item.stay }}</div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endfor %}
        <div class="map">
            <h3>顯示地圖</h3>
            <iframe src="https://www.google.com/maps/embed" frameborder="0" class="map-iframe"></iframe>
        </div>
    </main>
    <button class="edit-button" onclick="window.location.href='/edit_package'">✏️</button>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
